@font-face {
    font-family: 'Gastreet Font';
    src: url('GastreetFont.eot');
    src: url('GastreetFont.eot?#iefix') format('embedded-opentype'),
        url('GastreetFont.woff2') format('woff2'),
        url('GastreetFont.woff') format('woff'),
        url('GastreetFont.ttf') format('truetype'),
        url('GastreetFont.svg#GastreetFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gastreet Sans';
    src: url('GastreetSans-Regular.eot');
    src: url('GastreetSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('GastreetSans-Regular.woff2') format('woff2'),
        url('GastreetSans-Regular.woff') format('woff'),
        url('GastreetSans-Regular.ttf') format('truetype'),
        url('GastreetSans-Regular.svg#GastreetSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gastreet Sans';
    src: url('GastreetSans-Bold.eot');
    src: url('GastreetSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('GastreetSans-Bold.woff2') format('woff2'),
        url('GastreetSans-Bold.woff') format('woff'),
        url('GastreetSans-Bold.ttf') format('truetype'),
        url('GastreetSans-Bold.svg#GastreetSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

